.passwordContainer {
  width: 530px;
  height: 50px;
  display: flex;
  flex-direction: row;
  /* background-color: transparent; */
  border: 1px solid gray;
  border-radius: 12px;
  margin-top: 20px;
}

.test {
  width: 500px;
  height: 45px;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.icon-toggle {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
